<div class="row">
    <div class="col-md-9">
        <h1 class="display-4"> Page d'accueil {{uneValeur}}</h1>
        <p class="lead">This is your homepage morray </p>
    </div>
</div>
<!-- <div class="row" *ngIf ="items">
    <div *ngFor="let item of items" class="col-md-4">
        <a href="#" *ngFor="let category of item.categories" class="badge badge-info">{{category.name}}</a>
        <div class="thumbnail">
            <a href="#" target="_blank">
                <img src="{{ item.imageUrl }}" alt="Lights" height="200" width="200">
                <img [src]="'images/' + item.imageUrl" alt="Lights" height="200" width="150">
                <img src="../../content/images/snow-mountain.jpg" alt="Lights" height="200" width="150">
                {{item.imageUrl}}
            </a>
            <blockquote class="blockquote">
                <p class="mb-0">{{item.name}}</p>
            <footer class="blockquote-footer">{{item.description | slice:0:50}} ...</footer>
        </blockquote>
    </div>
</div>
</div> -->
<div class="row" *ngIf ="items">
<div *ngFor="let item of items" class="col-sm-4 card-deck">
    <div class="card" style="margin-bottom: 20px;">
    <img class="card-img-top" src="{{ item.imageUrl }}" height="310" width="310" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{item.name}} <a class="alert-link" (click)="getItemsByType(item.typeName)"><span class="badge badge-success">{{item.typeName}}</span></a></h4>
        <p class="card-text">{{item.description | slice:0:150}} ...</p>
        <a href="#" *ngFor="let category of item.categoriesName" class="badge badge-info" style="margin-left: 3px;">{{category}}</a>
    </div>
    <div class="card-footer">
        <small class="text-muted">Dernière mise à jour {{item.lastModifiedDate | amLocale:'fr' | amTimeAgo}}</small>
    </div>
</div>
</div>
</div>
<!-- <div class="row">
<div class="col-md-9">
<div [ngSwitch]="isAuthenticated()">
    <div class="alert alert-success" *ngSwitchCase="true">
        <span *ngIf="account"
        > You are logged in as user "{{account.login}}". </span>
    </div>
    <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
    </div>
    <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>
        <a class="alert-link" routerLink="register">Register a new account</a>
    </div>
</div>
<p>
    If you have any question on JHipster:
</p>
<ul>
    <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
    <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
    <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
    <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
    <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
</ul>
<p>
    <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
</p>
</div>
</div> -->